[Unit]
After=local-fs.target network.target
Description=raveloxmidi RTP-MIDI network server

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/opt/raveloxmidi/bin/raveloxmidi -dN -c /opt/raveloxmidi/etc/raveloxmidi.conf

Type=simple
Restart=always
